网站设计需求：
1. 登录页面
    1- username\password输入窗口，登录按钮
    2- 注册页面
    （在哪里储存这些用户信息？）

2. 上传页面
    1- 登录网站之后，主页有上传按钮，点击即可进行上传
    2- 让用户从电脑上传文件，自定义标题
    （上传上来的图片储存在哪里？）

3. 主页面
    1- 主页面除了上传按钮，可以展示已上传的图片
    2- 图片下标注上传者用户名、上传时间、图片标题
    3- 允许按照上传时间排序，允许按照上传时间、用户名、图片标题搜索目标图片